.my_Rodape_Container{
    display: flex;
    height: 150px;
    bottom: 0;
    align-items: center;
    background-color: var(--brown2);
    flex-direction: column;
    align-items: center;
}

.my_Logo{
    width: 150px;
    height: auto;
    margin-top: 15px;
}

.my_Footer_Descricao {
    height: 50px;
}


.my_Footer_List {
    display: flex;
    margin-top: 20px;
    gap: 2rem;
    color: #fff;
}